    
{% extends 'layout.html' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Report</h1>
        <h1>Temperature Daily</h1>
        <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/1m0Fp8aDpz7AH4nlr9BbPf5C0LR6mBCYx/page/k9iq" frameborder="0" style="border:0" allowfullscreen></iframe>
        <h1>Temperature Weekly</h1>
        <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/1mOKs2w92zAAvFKuBSZUfKnmFwZFotxoI/page/TFv0" frameborder="0" style="border:0" allowfullscreen></iframe>
        <h1>Humidity Daily</h1>
        <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/1_sb0_9nNTJxHOlYddzmDusIOm3Vzav8S/page/r9iq" frameborder="0" style="border:0" allowfullscreen></iframe>
        <h1>Humidity Weekly</h1>
        <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/02626d6f-147d-47f2-ad54-e3dd129dfc16/page/xE11" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
{% endblock %}